@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:200,400,400i,700");

body {
    background-color: #181818;
    font-family: Merriweather;
    color: #d8d8d8;
}

h1 {
    text-align: center;
}

p {
    font-family: Lato;
}

#card {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    width: 160px;
    height: 240px;
    border-radius: 5px;
    background: #fff;
    background-color: white;
    overflow: hidden;
    filter: drop-shadow(#4a4a4a -3px -3px 3px);
}

.hearts,
.diamonds {
    color: red;
}

.spades,
.clubs {
    color: black;
}

.card-num {
    margin: 10px;
    margin-bottom: 0px;
    font-size: 20px;
}

.card-title {
    display: flex;
    flex-direction: column;
    width: 40px;
    align-items: center;
}

.card-title-bottom {
    display: flex;
    flex-direction: column;
    width: 40px;
    align-items: center;
    transform: rotate(180deg);
    position: relative;
    left: 120px;
}

.suit {
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

.center-suits-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 85px;
    position: relative;
    left: 35px;
}

.center-suits {
    margin: 0;
    padding: 0;
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
}
.stock-foundation {
    display: flex;
}
.foundation-holder {
    height: 40vh;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.foundation,
.tableau-pile {
    height: 240px;
    width: 160px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5px;
    background-image: repeating-linear-gradient(
            45deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 5px,
            rgba(0, 0, 0, 0.3) 5px,
            rgba(0, 0, 0, 0.3) 6px
        ),
        repeating-linear-gradient(
            -45deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 5px,
            rgba(0, 0, 0, 0.3) 5px,
            rgba(0, 0, 0, 0.3) 6px
        );
    background-size:
        8px 8px,
        8px 8px;
}

.stock-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.stock {
    background-color: rgba(230, 220, 230, 0.1);
    height: 240px;
    width: 160px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.waste-container {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
}

.waste-container:nth-child(3) {
    z-index: 10;
}

.suits-holder {
    height: 225px;
    width: 159px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0;
}

.card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 240px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    overflow: hidden;
}

.card-border {
    width: 150px;
    height: 230px;
    background-color: red;
    border-radius: 5px;
}

.card-back::before {
    content: ""; /*  This will insert empty content for our psuedo element - before */
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
            45deg,
            white 20%,
            transparent 20%,
            transparent 80%,
            white 80%
        ),
        linear-gradient(
            45deg,
            white 20%,
            transparent 20%,
            transparent 80%,
            white 80%
        );
    background-size: 7px 7px;
}

.tableau-holder {
    position: relative;
    height: 40vh;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableau-pile .card-container,
.card-back {
    border: 3px solid rgb(0, 0, 0);
}

.drag-over {
    border: 3px solid rgb(255, 0, 0);
}

.tableau-pile .card-container,
.foundation .card-contanier {
    position: absolute;
    z-index: 100;
}
