@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:200,400,400i,700");

body {
    background-color: #181818;
    font-family: Merriweather;
    color: #d8d8d8;
}

h1 {
    text-align: center;
}

p {
    font-family: Lato;
}

.card_container {
    display: flex;

}

#card {

    flex-wrap: wrap;
}

.card {
    margin: 10px;
    width: 160px;
    height: 240px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
}

.hearts,
.diamonds {
    color: red;
}

.spades,
.clubs {
    color: black;
}

.card-num {
    margin: 10px;
    margin-bottom: 0px;
    font-size: 20px;
}

.card-title {
    display: flex;
    flex-direction: column;
    width: 40px;
    align-items: center;
}

.suit {
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

.bigsuit {
    margin: 0;
    padding: 0;
    font-size: 155px;
    position: relative;
    top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.foundation-holder {
    height: 40vh;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.foundation {
    height: 240px;
    width: 160px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5px;
}

.suits-holder {
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
}